* {
    margin: 0px;
}

.container {
    display: grid;

    grid-template-areas: "header header" "menu menu"  " content content" "footer footer";
    grid-template-rows: 50px 300px 320px 100px;
    grid-gap: 5px;
    height: 100vh;
}

.item {
    background-color: rgb(224, 228, 235);
    padding: 50px;
    border: 1px solid lightgray;
}

.header {
    
    grid-area: header;font-size: 20px;
    color: rgb(5, 5, 5);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    text-align: center;
    padding: 20px;
   
    
}


.menu{
    grid-area: menu;
   font-size: 40px;
    color: aliceblue;
    
    display: flex;
    
    align-items: center;
    padding: 10px;
}



.content {
    grid-area: content;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 40px;
    font-size: 40px;
    color: aliceblue;


}

.footer {
    grid-area: footer;
    font-size: 40px;
    color: aliceblue;
    font-weight: bolder;
    text-align: center;
}

.cd {
    border: 2px solid rgb(27, 63, 99);
    background-color: yellow;
    height: 200px;
    width: 568px;
    padding: 20px;
    font-size: 20px;
    color: aliceblue;
    font-weight: bolder;
    
    margin: 1px;
}
.row{
    display: flex;
    flex-direction: row;

}

.ca{
    border: 2px solid rgb(27, 63, 99);
    background-color: gray;
    height: 80px;
    width: 200px;

}
.ca1{
    border: 2px solid rgb(27, 63, 99);
    background-color: blue;
    height: 80px;
    width: 200px;

}
.ca2{ 
    border: 2px solid rgb(27, 63, 99);
    background-color: pink;
    height: 80px;
    width: 200px;

}
.cc1{
    background-color: yellow;
    width: 50px;
    height: 200px;
   
    padding: 30px;
    border: 1px solid lightgray;
    
}
.cj{
    grid-area: cj;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}




.item-button {
    
    width:  200px;
    height: 40px;
    
}

.icono{
    display: flex;
    justify-content: center;
    text-align: center;
    
}
.ico{
    width: 135px;
    height: 40px;
}
.em_ic{
  
    font-size: 15px;
    margin: 25px;
    font-size: 13px ;
    display: flex;
    justify-content: center;
    text-align: center;

}
.cuadro{
  
    width: 65px;
    height: 40px;

}
.marimge{
 
    display: flex;
    justify-content: center;
    text-align: center;
}
.imge{
    width: 200px;
    height: 200px;

}

.contenido{
    /* border: 2px solid lightgray;*/
    font-size: 15px;
    color: black;
    
}
.nom{
    font-size: 20px;
    color: black;

}

.contenido2{
    font-size: 20px;
    color: black;
    text-align: center;
}


/*
grid-area: header;font-size: 20px;
color: rgb(5, 5, 5);
display: flex;
justify-content: center;
align-items: center;
font-weight: bolder;
text-align: center;
padding: 20px;*/